#loading {
    pointer-events: none;
    opacity: 0;
}

#loading .loader {
    stroke-width: 0;
}

a {
    color: rgb(194, 0, 18);
}

a:hover, a:focus {
    outline: none;
    color: rgb(173, 0, 16) !important;
}

a.hiddenA {
    color: rgba(0,0,0,.87) !important;
    text-decoration: none;
}

a.mdl-cardWrapper:hover, a.mdl-cardWrapper:hover {
    color: inherit !important;
}

.unscrollAble {
    overflow: hidden;
}

.flexInputContainer {
    display: flex;
}

.flexInputContainer > .mdl-textfield {
    width: 100%;
}

.mdl-layout {
    overflow: visible;
}

.mdl-layout__drawer {
    position: fixed;
}

.mdl-layout__content {
    display: block;
    overflow: visible;
    margin-top: 64px;
}

.is-small-screen .mdl-layout__content {
    margin-top: 56px;
}

.mdl-layout__header {
    position: fixed;
    background-color: #ccc;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),0 1px 5px 0 rgba(0,0,0,.12);
}

.mdl-layout__header-row {
	padding: 0 13px 0 72px;
}

.mdl-layout__header-row .mdl-navigation__link {
    padding: 0 15px;
}

.headerImg {
    height: 52px;
    margin-right: 10px;
}

@media screen and (max-width: 1024px) {
    .mdl-layout__header-row {
        padding: 0 13px 0 57px;
    }

    .headerImg {
        height: 45px;
        margin-right: 10px;
    }
}

#searchButton {
    padding-right: 15px;
}

.icon-ic_search_black_24px {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20fill%3D%22%23000000%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M15.5%2014h-.79l-.28-.27C15.41%2012.59%2016%2011.11%2016%209.5%2016%205.91%2013.09%203%209.5%203S3%205.91%203%209.5%205.91%2016%209.5%2016c1.61%200%203.09-.59%204.23-1.57l.27.28v.79l5%204.99L20.49%2019l-4.99-5zm-6%200C7.01%2014%205%2011.99%205%209.5S7.01%205%209.5%205%2014%207.01%2014%209.5%2011.99%2014%209.5%2014z%22/%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22/%3E%0A%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center center;
}

.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box
}

.autocomplete-suggestion {
    position: relative;
    padding: 0 .6em;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.02em;
    color: #333
}

.autocomplete-suggestion b {
    font-weight: normal;
    color: #1f8dd6
}

.autocomplete-suggestion.selected {
    background: #f0f0f0
}

#userImg {
    height: calc(100% + 6px);
    width: calc(100% + 6px);
    margin: -3px 0px 0px -3px;
}

.mdl-layout__obfuscator {
    position: fixed;
}

.center {
    display: block;
    margin: auto;
}

.mdl-layout .mdl-layout__drawer {
    width: 300px;
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
}

.mdl-layout .mdl-layout__drawer.is-visible {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.mdl-layout .mdl-layout__header .mdl-layout-title, .mdl-layout .mdl-layout__header .mdl-navigation {
    color: #333;
    text-decoration: none;
}

.mdl-navigation__link {
    cursor: pointer;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
    background-color: rgb(194, 0, 18);
}

.navHeadline {
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 16px 40px 1px 40px;
    margin: 0;
    font-size: 1.1em;
    font-weight: 600;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #666;
    padding-right: 40px;
}

.mdl-layout .articleCount, .mdl-layout .editSmall {
    float: right;
    color: #999;
}

.mdl-layout .editSmall {
    margin: -40px 10px 0px 0px;
    cursor: pointer;
}

#firebaseauth .mdl-card {
    box-shadow: none;
}

#firebaseauth .firebaseui-idp-text-long {
    display: none;
}

#firebaseauth .firebaseui-idp-text-short {
    display: inline-block;
}

#firebaseauth .firebaseui-idp-password, #firebaseauth .firebaseui-idp-password:hover {
    background-color: #db4437;
}

#firebaseauth .firebaseui-idp-button {
    direction: ltr;
    font-weight: 500;
    height: 40px;
    max-width: 220px;
    padding-left: 16px;
    text-align: left;
    width: 100%;
}

#content {
    margin: 10px;
}

.mdl-layout__content {
    display: flex;
    flex-direction: column;
}

#articleLink {
    display: flex;
    flex-direction: column;
}

.specialStatus {
	text-decoration: none;
}

.editBig {
    float: right;
    margin: 0px 0px 0px 10px;
    background-color: rgb(194, 0, 18) !important;
}

.editBig > i {
    color: #fff;
}

#article, #editArticle, #editCategory, #errorWrapper, #newsConfirmWrapper, #newsDeactivationWrapper {
    position: relative;
    max-width: 750px;
    margin: auto;
    overflow: auto;
    word-wrap: break-word;
}

#errorWrapper, #newsConfirmWrapper, #newsDeactivationWrapper {
    margin-top: 50px;
}

#errorWrapper h1, #newsConfirmWrapper h1 {
    text-align: center;
    font-size: 15em;
    line-height: 1em;
}

#newsConfirmWrapper h1 {
    font-size: 5em;
}

#rssSettings,
#newsSettings {
    display: inline-block;
}

#rssSettings .mdl-textfield__label, #rssSettings .mdl-checkbox__label,
#newsSettings .mdl-textfield__label, #newsSettings .mdl-checkbox__label {
    text-align: center;
}

#rssSettings > label:first-child,
#newsSettings > label:first-child {
    margin-bottom: 20px;
}

#rssSettings > .categoryList,
#newsSettings > .categoryList {
    pointer-events: none;
    opacity: .25;
    transition: opacity .5s;
    transform: translateZ(0);
}

#rssSettings > .categoryList.active,
#newsSettings > .categoryList.active {
    pointer-events: auto;
    opacity: 1;
}

#rssSettings .flexInputContainer {
    padding-top: 10px;
}

#rssSettings .flexInputContainer > *:first-child {
    padding: 0px;
}

#rssSettings .flexInputContainer a {
    cursor: pointer;
}

.categoryList {
    margin-top: -16px;
}

#errorWrapper p, #newsConfirmWrapper p, #newsDeactivationWrapper p {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.2em;
}

#errorWrapper, #newsConfirmWrapper .mdl-button, #newsDeactivationWrapper .mdl-button {
    margin-top: 50px;
}

.fullscreen, .fotorama--fullscreen {
    height: 100vh !important;
    max-height: 100vh!important;
}

.fotorama--fullscreen {
    background: rgba(0, 0, 0, 0.5);
}

.fullscreen, .fotorama--fullscreen .fotorama__nav, .fotorama--fullscreen .fotorama__stage {
    background: transparent;
}

.imgContainer {
    text-align: center;
    overflow: hidden;
}

.imgContainer:hover {
    position: relative;
    z-index: 5;
}

.imgContainer::after {
    content: 'Zum Vergrößern klicken';
    position: absolute;
    left: 0px;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    line-height: calc(1em + 20px);
    text-shadow: 0px 0px 20px #000, 0px 0px 20px #000, 0px 0px 20px #000, 0px 0px 20px #000;
    transition: opacity .5s;
    transform: translateZ(0);
}

.imgContainer:hover::after {
    opacity: 1;
}

.imgContainer img {
    max-width: 100%;
    height: 400px;
    object-fit: contain;
    margin: auto;
    cursor: zoom-in;
    transition: transform .5s;
    transform: translateZ(0);
}

.imgContainer:hover img {
    transform: scale(1.1);
}

#imgContainerFullscreenContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transform: translateZ(0);
    transition: opacity .5s;
    z-index: 9002;
}

#imgContainerFullscreenContainer.active {
    opacity: 1;
    pointer-events: auto;
    cursor: zoom-out;
}

#imgContainerFullscreenContainer img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    transform: translate(-50%, -50%) translateZ(0) scale(.01);
    transition: transform .5s;
    z-index: 9002;
}

#imgContainerFullscreenContainer.active img.active {
    transform: translate(-50%, -50%) translateZ(0) scale(1);
}

#imgContainerFullscreenContainer::after {
    content: '';
    background: url('https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.png') no-repeat;
    background-position: -32px -32px;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -32px;
    right: -32px;
    transition: top .25s, right .25s;
    transform: translateZ(0);
}

#imgContainerFullscreenContainer:hover::after {
    top: 2px;
    right: 2px;
}

.aspectRatio_16-9 {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56%;
}

.aspectRatio_16-9 iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#editCategory {
    margin-top: 25px;
}

#editArticle textarea, #editArticle input, #editArticle select,
#editCategory textarea, #editCategory input {
    font-family: Roboto;
    padding: 0px;
    background: transparent;
    resize: none;
    overflow: hidden;
    border: none;
    border-bottom: 2px solid transparent;
    margin-bottom: -2px;
    transition: border .5s;
    transform: rotateZ(0);
}

#editArticle textarea:focus, #editArticle input:focus, #editArticle #category:focus,
#editCategory textarea:focus, #editCategory input:focus {
    outline: none;
    border-color: rgb(194, 0, 18);
}

#article h1, #editArticle #h1, #articleList h1 {
    font-size: 56px;
    font-weight: 400;
    margin: 0px;
    line-height: 1.1em;
    width: 100%;
}

#article h3, #editArticle #h3, #articleList h3,
#editCategory #name {
    margin: 0px 0px 10px 0px;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1em;
    color: #696969;
    width: 100%;
}

#editCategory #name {
    color: #1b1b1b;
}

#articleList h3 {
    margin: 0px;
}

.mdl-card__title img {
    width: calc(100% + 32px);
    max-height: 15vw;
    object-fit: cover;
    margin: -16px -16px 0px -16px;
}

@media only screen and (max-width: 1024px) {
    .mdl-card__title img {
        max-height: 45vw;
    }
}

.nothingFound {
    max-width: 750px;
    margin: 50px auto;
    font-size: 2.5em;
}

#article .text {
    font-size: 1.3em;
    line-height: 1.5em;
}

.CodeMirror, .CodeMirror-scroll {
    height: auto;
    min-height: 70px;
}

.CodeMirror.CodeMirror-fullscreen .CodeMirror-scroll {
    height: 100%;
}

.editor-toolbar.fullscreen {
    top: 64px;
}

.editor-preview, .editor-preview-side {
    background: #fff;
}

.editor-preview-side {
    max-width: 750px;
}

.CodeMirror-fullscreen .editor-preview > div {
    max-width: 750px;
    margin: auto;
}

.editor-preview-side.editor-preview-active-side {
    margin-top: 56px;
    width: 50vw;
}

.CodeMirror.cm-s-paper.CodeMirror-wrap.CodeMirror-fullscreen {
    top: 106px;
    min-width: 50vw;
}

.CodeMirror.cm-s-paper.CodeMirror-wrap.CodeMirror-fullscreen.CodeMirror-sided {
    width: calc(100vw - 770px) !important;
}

.collectionIcon::before {
    font-family: "Material Icons";
    content: "collections";
    word-wrap: normal;
}

.youtubeIcon::before {
    font-family: "Material Icons";
    content: "play_circle_filled";
    word-wrap: normal;
}

#YTHelperState {
    color: red;
}

.moreHider {
    text-align: left;
}

.moreHider > summary {
    list-style-type: none;
}

#article .author, #article .date, #article .category,
#editArticle .author, #editArticle .date, #editArticle .category
#articleList .author, #articleList .date,
#editCategory .slug {
    display: block;
    line-height: 1.5em;
}

#editArticle #author, #editArticle #slug, #editCategory #slug {
    width: 100%;
    margin-left: 5px;
}

#editArticle label[for=private] {
    margin-top: 25px;
}

#editArticle .flexWrapper, #editCategory .flexWrapper {
    display: flex;
}

#editArticle #category {
    border: none;
    background: transparent;
}

#editArticle input.error, #editArticle textarea.error, #editArticle select.error
#editCategory input.error, #editCategory textarea.error {
    border-color: #f00;
}

#editArticle .errorText {
    color: red;
}

#editArticle .errorText[for=text] {
    margin: -30px 0px 20px 0px;
}

#editArticle #saveButton, #editArticle #removeButton,
#editCategory #saveButton, #editCategory #removeButton {
    float: right;
}

#editArticle_progressbar {
    height: 0px;
    margin-bottom: 4px;
    width: 100%;
    transition: height .5s, margin .5s;
    transform: translateZ(0);
}

#editArticle_progressbar.active {
    height: 4px;
    margin-bottom: 0px;
}

#listHeadline {
    max-width: 750px;
    margin: 10px auto -40px auto;
    font-size: 2.5em;
}

#articleList {
    margin: 50px 0px 20px 0px;
}

#articleList .mdl-cardWrapper {
    text-decoration: none;
    color: inherit;
}

/* a,
#articleList h1,
#article > a > h1 {
    transition: color .5s;
    transform: translateZ(0);
} */

#articleList .mdl-cardWrapper:hover h1, #articleList .mdl-cardWrapper:active h1, #articleList .mdl-cardWrapper:focus h1,
#article > a:hover > h1, #article > a:active > h1, #article > a:focus > h1 {
    color: rgb(173, 0, 16);
}

#articleList .mdl-cardWrapper:focus {
    outline: none;
}

#articleList .mdl-card, #rightStuff .mdl-card {
    margin: 20px auto;
    max-width: 750px;
    width: auto;
}

#articleList .mdl-card a.material-icons, #article > div.material-icons {
    float: right;
    color: #1b1b1b;
}

#articleList .mdl-card a.material-icons:focus, #article > div.material-icons:focus {
    outline: none;
}

#article > div.material-icons {
    width: 35px;
    height: 35px;
    font-size: 35px;
}

#articleList .mdl-card__title {
    display: block;
}

#paginator {
    text-align: center;
}

#pages {
    max-width: calc(100vw - 156px);
    height: 54px;
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 8px;
    margin: 0px 0px -38px 0px;
}

.mdl-button--mini-fab p {
    margin-top: calc(20px - 1em);
}

#rightStuff h1, #rightStuff h2, #rightStuff p {
    margin: 0px;
}

#rightStuff h1, #rightStuff h2 {
    line-height: 1em;
}

#rightStuff h2 {
    color: #444;
    font-size: 30px;
}

#logView {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
}

#logView > details {
    background: #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

#logView > details > summary {
    background: #fff;
    padding-left: 3px;
}

#logView summary {
    min-height: 32px;
    line-height: 32px;
    cursor: pointer;
}

#logView summary::-webkit-details-marker {
    display: none;
}

#logView details > summary:before {
    content: '';
    background: url('https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.png') no-repeat;
    background-position: 0px -32px;
    float: left;
    height: 32px;
    width: 32px;
    transition: background-position .5s;
    transform: translateZ(0);
}

#logView details[open] > summary:before {
    background-position: -32px -32px;
}

#logView details summary:focus {
    outline: none;
}

#logView span {
    white-space: nowrap;
    color: #777;
    margin-right: 20px;
    margin-left: 5px;
    display: inline-block;
}

#logView span.date {
    min-width: 320px;
}

#logView span.type {
    min-width: 160px;
}

#logView span > span {
    color: #000;
}

#logView h1 {
    margin: 8px 0px 3px 5px;
    line-height: 1em;
    font-size: 3em;
}

#logView a {
    margin: 0px 0px 0px 10px;
    font-size: 1.5em;
}

#logView .code {
    white-space: pre-wrap;
    text-indent: -2em;
    margin: 0px;
    background: #002b36;
    color: #93a1a1;
}

#logView .code div {
    border-top: 1px solid #113c46;
    padding: 5px;
    padding-left: calc(2em + 5px);
    min-height: 1.5em;
}

#logView .code div:last-child {
    border-bottom: 1px solid #113c46;
}

#logView .code .diff_minus {
    background: rgba(220, 50, 47, 0.54);
}

#logView .code .diff_plus {
    background: rgba(38, 153, 0, 0.46);
}

#logView .code .diff_special {
    background: rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.3);
}

#logView textarea {
    width: 100%;
    height: 250px;
    resize: none;
}

footer { /* FINALY this damn footer is on the bottom */
    margin-top: auto;
    display: table-row !important;
}

.mdl-mini-footer__link-list {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

#toast {
    z-index: 9001; /* OVER 9000! */
}
