{% extends 'base.html' %}

{% block title %}
    403 - {{config['blogName']}}
{% endblock %}

{% block rpreDescription %}
    Zugriff verboten ¯\_(ツ)_/¯
{% endblock %}

{% block content %}
    <div id="errorWrapper">
        <h1>403</h1>
        <p>
            Zugriff auf diese Seite ist für dich verboten.
        </p>
        <p>
            Um diese Seite sehen zu können musst du angemeldet sein und die richtigen Zugriffsrechte haben.
        </p>
    </div>
{% endblock %}
