{% extends 'base.html' %}

{% block title %}
    404 - {{config['blogName']}}
{% endblock %}

{% block rpreDescription %}
    Nichts gefunden ¯\_(ツ)_/¯
{% endblock %}

{% block content %}
    <div id="errorWrapper">
        <h1>404</h1>
        <p>
            Schau was wir <i>tolles</i> gefunden haben, einen <b>404</b>!
        </p>
        <p>
            Wir konnten auf deine Anfrage leider nichts finden,<br> außer du hast diese Seite gesucht, dann Glückwunsch, du hast sie gefunden!
        </p>
        <p>
            <a href="/" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Startseite
            </a>
        </p>
    </div>
{% endblock %}
