{% extends 'base.html' %}

{% block title %}
    500 - {{config['blogName']}}
{% endblock %}

{% block rpreDescription %}
    Server Fehler ¯\_(ツ)_/¯
{% endblock %}

{% block content %}
    <div id="errorWrapper">
        <h1>500</h1>
        <p>
            Keine Sorge, zwei Programmierer in Ausbildung und eine überarbeitete Kunstlehrerin arbeiten daran.
        </p>
        <p>
            Um uns zu helfen kannst du eine Mail an <a href="mailto:errorReport@wirsberg-studios.de?Subject=Blog%20Error%20Report">errorReport@wirsberg-studios.de</a> mit einer kurtzen Beschreibung was du versucht hast zu machen senden.<br>
            Danke!
        </p>
    </div>
{% endblock %}
