{#}{% set g=dict() %}
{% set notImportant=g.__setitem__('user',headerData['user']) %}#}
<!doctype html>
<html amp>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{config['blogName']}}{% endblock %}</title>
    <link rel="canonical" href="{% block canonicalUrl %}/{% endblock %}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png">
    <link rel="shortcut icon" href="/static/img/favicon.svg" type="image/svg+xml">
    <meta name=theme-color content=#ffffff>
    <meta property=og:title content="{{self.title()}}">
    <meta name=description content="{% block rpreDescription %}{{config['blogSubTitle']}}{% endblock %}">
    <meta property=og:description content="{{self.rpreDescription()}}">
    <meta property=og:image content="{% block rprevImg %}/static/img/favicon.png{% endblock %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    {% block addScripts %}{% endblock %}
    <style amp-custom>{% block amp_css %}{% endblock %}</style>
    <style amp-custom>amp-iframe{animation:intro .5s steps(1,end) 0s 1 normal both}@keyframes intro{from{opacity:0;margin-top:100%;margin-bottom:-100%}to{opacity:1;margin-top:0px;margin-bottom:0px}}</style>
</head>
<body>
    {% block content %}Test{% endblock %}
</body>
</html>
