{% extends 'amp_base.html' %}

{% block title %}
    {{article['headline']}} - {{config['blogName']}}
{% endblock %}

{% block rpreDescription %}
    {{article['subline']}}
{% endblock %}

{% block rprevImg %}
    {% if prevImg %}
        {{prevImg}}
    {% else %}
        {{super()}}
    {% endif %}
{% endblock %}

{% block canonicalUrl %}
    /article/{{article['slug']}}
{% endblock %}

{% block addScripts %}
    <script async custom-element="amp-lightbox-gallery" src="https://cdn.ampproject.org/v0/amp-lightbox-gallery-0.1.js"></script>
    <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
    <script async custom-element="amp-timeago" src="https://cdn.ampproject.org/v0/amp-timeago-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
{% endblock %}

{% block amp_css %}
    body {
        font-family: Roboto;
    }

    a {
        color: rgb(194, 0, 18);
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: #fff0;
        transition: color 0.5s;
        transform: translateZ(0);
    }

    a:hover, a:focus {
        outline: none;
        color: rgb(173, 0, 16);
    }

    ::-moz-selection {
        background: #b3d4fc;
        text-shadow: none;
    }

    button {
        width: 60px;
        height: 48px;
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
        padding: 0;
        border: none;
        background: #0000;
    }

    #article {
        position: relative;
        max-width: 750px;
        margin: auto;
        padding: 10px;
        overflow: auto;
        word-wrap: break-word;
    }

    #article h1 {
        font-size: 56px;
        font-weight: 400;
        margin: 0px;
        line-height: 1.1em;
        color: #1b1b1b;
        width: 100%;
    }

    #article h3 {
        margin: 0px 0px 10px 0px;
        font-size: 1.5em;
        font-weight: 400;
        line-height: 1em;
        color: #696969;
        width: 100%;
    }

    #article .text {
        font-size: 1.3em;
        line-height: 1.5em;
    }

    #article .author, #article .date, #article .category {
        display: block;
        line-height: 1.5em;
    }

    #article .galleryCounter {
        margin: 0px;
        text-align: center;
    }

    #article amp-img, #article amp-carousel {
        max-height: 400px;
    }

    amp-carousel[type="carousel"] {
        text-align: center;
    }

    amp-carousel[type="carousel"] amp-img {
        height: 100%;
    	max-height: 48px;
    }

    amp-carousel[type="carousel"] img {
        object-fit: cover;
    }

    img {
        object-fit: contain;
    }
{% endblock %}

{% block content %}
    <div id="article">
        <h1>{{article['headline']}}</h1>
        <h3>{{article['subline']}}</h3>
        <a href="/article/{{article['slug']}}">Normale Ansicht (Desktop)</a>
        <p>{{article['textAmp']|safe}}</p>
        <span class="author">Autor: {{article['author']}}</span>
        <span class="date">Erscheinungsdatum: <amp-timeago layout="fixed" width="200" height="19" datetime="{{timestampToIso(article['date'])}}Z" locale="de">{{timestampToIso(article['date'])}}</amp-timeago></span>
        {% if article['category'] %}
        <span class="category">Kategorie: <a href="/category/{{article['category']['slug']}}">{{article['category']['name']}}</a></span>
        {% else %}
        <span class="category">Kategorie: <a href="/articles">{{config['restCategorieName']}}</a></span>
        {% endif %}
        <amp-social-share type="system"></amp-social-share><amp-social-share type="email"></amp-social-share><amp-social-share type="twitter"></amp-social-share><amp-social-share type="whatsapp"></amp-social-share>
    </div>
{% endblock %}
