{% extends 'base.html' %}

{% import 'macros.html' as macros with context %}

{% block content %}
<h1 id="listHeadline">
    {% if category['slug'] == 'all' %}
        Liste aller Artikel (Seite {{page}}):
    {% else %}
        Liste aller Artikel der Kategorie {{category['name']}} (Seite {{page}}):
    {% endif %}
</h1>
{% if articles %}
    {{ macros.articleList(articles) }}
    {% if category['slug'] == 'others' %}
        {{ macros.paginator('articles', page, maxPage) }}
    {% else %}
        {{ macros.paginator('category/' + category['slug'], page, maxPage) }}
    {% endif %}
{% else %}
    <h1 class="nothingFound">
        {% if category['slug'] == 'all' %}
            Keine Artikel gefunden :(
        {% else %}
            Die Kategorie {{category['name']}} hat keine Artikel :(
        {% endif %}
    </h1>
{% endif %}
{% endblock %}
