{#}{% set g=dict() %}
{% set notImportant=g.__setitem__('user',headerData['user']) %}#}
<!doctype html>
<html>
<head>
    <title>{% block title %}{{config['blogName']}}{% endblock %}</title>
    <link rel="alternate" type="application/rss+xml" title="Atom/RSS Feed vom {{config['blogName']}}" href="/rss">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png">
    <link rel="shortcut icon" href="/static/img/favicon.svg" type="image/svg+xml">
    <meta name=theme-color content=#ffffff>
    <meta property=og:title content="{{self.title()}}">
    <meta name=description content="{% block rpreDescription %}{{config['blogSubTitle']}}{% endblock %}">
    <meta property=og:description content="{{self.rpreDescription()}}">
    <meta property=og:image content="{% block rprevImg %}/static/img/favicon.png{% endblock %}">
    {% if self.ampUrl() %}<link rel="amphtml" href="{% block ampUrl %}{% endblock %}">{% endif %}
    <style>
        body {
            margin: 0px;
        }

        #loading {
            position: fixed;
            height: 100vh;
            width: 100vw;
            background: #fff;
            opacity: 1;
            z-index: 9001; /* OVER 9000!!! */
            transition: opacity 0.5s;
            transform: translateZ(0);
        }

        .loader {
            position: fixed;
            left: calc(50vw - 20px);
            top: calc(50vh - 20px);
            margin-bottom: -40px;
            fill: transparent;
            stroke: #333;
            stroke-width: 5;
            stroke-linecap: round;
            animation: dash 2s ease infinite,rotate 2s linear infinite;
            transition: stroke-width 0.5s;
            transform: translateZ(0);
        }

        @keyframes dash {
            0% {
                stroke-dasharray: 1,95;
                stroke-dashoffset: 0;
            }
            50% {
                stroke-dasharray: 85,95;
                stroke-dashoffset: -25;
            }
            100% {
                stroke-dasharray: 85,95;
                stroke-dashoffset: -93;
            }
        }

        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
    <div id="loading">
        <svg width="40" height="40" version="1.1" xmlns="http://www.w3.org/2000/svg" class="loader">
            <circle cx="20" cy="20" r="15">
            </circle>
        </svg>
    </div>

    {% set headerData = getHeaderData() %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <a href="/" class="mdl-layout-title">
                    <img src="/static/img/favicon.svg" class="headerImg"/>
                    {{config['blogName_header']}}
                </a>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link mdl-layout--large-screen-only" href="{{config['videoPlatformLink']}}">
                        Streaming Plattform
                    </a>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable searchButton mdl-layout--large-screen-only" id="searchButton" title="Plattformweite Suche">
                        <label class="mico mdl-button mdl-js-button mdl-button--icon searchbutton icon-ic_search_black_24px" for="search" onclick="search('search')" id="searchLabel"></label>
                        <div class="mdl-textfield__expandable-holder">
                            <input class="mdl-textfield__input autoCompleteSearch" type="text" id="search" aria-label="Suchen" placeholder="Suchen...">
                            <label class="mdl-textfield__label" for="search">Suche</label>
                        </div>
                    </div>
                    {% if not headerData['user'] %}
                    <a onclick="login()" class="mdl-navigation__link mdl-layout--large-screen-only">
                        Registrieren
                    </a>
                    {% endif %}
                    {% if headerData['user'] %}
                    <button id="userImgButton" class="mdl-button mdl-js-button mdl-button--icon">
                        <img id="userImg" src="{{config['videoPlatformLink']}}/static/img/profileimg/out/{{getInitials(headerData['user'])}}.svg"/>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="userImgButton">
                        <li class="mdl-menu__item"><a href="{{config['videoPlatformLink']}}/account" class="hiddenA">Mein Account</a></li>
                        <li class="mdl-menu__item" onclick="logout()">Logout</li>
                    </ul>
                    {% else %}
                    <button onclick="login()" class="editBig mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Login
                    </button>
                    {% endif %}
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <a href="/" class="mdl-layout-title mdl-navigation__link">{{config['blogName']}}</a>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{{config['videoPlatformLink']}}/search">
                    Suche
                </a>
                {% if not headerData['user'] %}
                <a onclick="login()" class="mdl-navigation__link">
                    Registrieren
                </a>
                {% endif %}
                {% if not headerData['newsRmToken'] %}
                <a class="mdl-navigation__link" onclick="activateNewsletter()">
                    E-Mail Newsletter abonnieren
                </a>
                {% else %}
                <div>
                    <a class="mdl-navigation__link" onclick="deactivateNewsletter('{{headerData['newsRmToken']}}')">
                        E-Mail Newsletter deabonnieren
                    </a>
                    <a class="editSmall" onclick="newsSettings({{json.dumps(headerData['categories'])}}, {{json.dumps(headerData['newsActiveCategories'])}}, '{{headerData['newsRmToken']}}')">
                        <i class="material-icons">settings</i>
                    </a>
                </div>
                {% endif %}
                <div>
                    <a class="mdl-navigation__link" href="/rss">
                        RSS
                    </a>
                    <a class="editSmall" onclick="rssSettings({{json.dumps(headerData['categories'])}})">
                        <i class="material-icons">settings</i>
                    </a>
                </div>
                <span class="navHeadline">
                    Kategorien:
                </span>
                {% for category in headerData['categories'] %}
                    {% if category['count'] != 0 or userRoleMin('blogger') %}
                        <div>
                            {% if category['id'] == 0 %}
                            <a class="mdl-navigation__link" href="/articles">
                            {% else %}
                            <a class="mdl-navigation__link" href="/category/{{category['slug']}}">
                            {% endif %}
                                {{category['name']}}
                                <span class="articleCount">
                                    {{category['count']}}
                                </span>
                                {% if userRoleMin('publisher') and category['id'] != 0 %}
                                    <a href="/editCategory/{{category['id']}}" class="editSmall">
                                        <i class="material-icons">
                                            create
                                        </i>
                                    </a>
                                {% endif %}
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
                <div>
                    <a class="mdl-navigation__link" href="/category/all">
                        Alle Artikel
                        <span class="articleCount">
                            {{headerData['allCount']}}
                        </span>
                    </a>
                </div>
                {% if userRoleMin('publisher') %}
                    <div>
                        <a class="mdl-navigation__link" href="/editCategory">
                            <i class="material-icons">
                                add
                            </i>
                            Neue Kategorie erstellen
                        </a>
                    </div>
                {% endif %}
                {% if userRoleMin('blogger') %}
                    <div>
                        <a class="mdl-navigation__link" href="/editArticle">
                            <i class="material-icons">
                                add
                            </i>
                            Neuen Artikel erstellen
                        </a>
                    </div>
                {% endif %}
                {% if userRoleMin('publisher') %}
                    <div>
                        <a class="mdl-navigation__link" href="/logView">
                            <i class="material-icons">
                                description
                            </i>
                            Log einsehen
                        </a>
                    </div>
                {% endif %}
                <span class="navHeadline">
                    Andere Sachen:
                </span>
                {% for title in config['sideMenueLinks'] %}
                <a class="mdl-navigation__link" href="{{config['sideMenueLinks'][title]}}">
                    {{title}}
                </a>
                {% endfor %}
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div id="fullHeight"></div>

            <div id="content">
                {% block content %}{% endblock %}
            </div>

            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">{{config['blogName']}}</div>
                    <ul class="mdl-mini-footer__link-list">
                        {% for title in config['footerLinks'] %}
                        <li>
                            <a href="{{config['footerLinks'][title]}}">
                                {{title}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </footer>

            <div id="toast" class="mdl-js-snackbar mdl-snackbar">
                <div class="mdl-snackbar__text"></div>
                <button class="mdl-snackbar__action" type="button"></button>
            </div>
        </main>
    </div>

    <div id="imgContainerFullscreenContainer" onclick="toggleImgContainerFullscreen(false)"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.min.css">

    <script src="{{ url_for('static', filename='js/js.cookie.js') }}"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/2.3.0/firebase-ui-auth__de.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.0.0/firebaseui.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.grey-red.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.1/lazyload.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

    <script src="https://goodies.pixabay.com/javascript/auto-complete/auto-complete.js"></script>

    <script async src="https://static.addtoany.com/menu/page.js"></script>

    <script>
        var videoPlatformLink = '{{config['videoPlatformLink']}}';
    </script>

    {% block jsAndCss %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="/static/index.css?{{staticFileHashes['index.css'][:3]}}">
    <script src="/static/index.js?{{staticFileHashes['index.js'][:3]}}"></script>

    <style>a, #articleList h1, #article > a > h1 { transition: color .5s; transform: translateZ(0); } /* CSS hack to prevent transition before final color is set. */</style>
</body>
</html>
