{% extends 'base.html' %}

{% block title %}
    Newsletter Bestätigung
{% endblock %}

{% block content %}
    <div id="newsConfirmWrapper">
        {% if state == 'success' %}
        <p>
            Du bist nun mit der E-Mail Adresse <a href="mailto:{{g.user['email']}}">{{g.user['email']}}</a> für den Newsletter angemeldet
        </p>
        {% if '-1' in activeCategories.keys() %}
        <p>
            Du wirst nun den Newsletter für alle Kategorien erhalten.
        </p>
        {% else %}
        <p>
            Du wirst nun den Newsletter für folgende Kategorien erhalten:
        </p>
        {% for category in activeCategories %}
        <p class="categoryList">
            {{activeCategories[category]}}
        </p>
        {% endfor %}
        {% endif %}
        <p>
            Dies kann in den <a onclick="newsSettings({{json.dumps(headerData['categories'])}}, {{json.dumps(list(activeCategories.keys()))}}, '{{rmToken}}')" href="javascript:void()">Newsletter Einstellungen</a> eingestellt werden.
        </p>
        <h1>
            Danke!
        </h1>
        {% elif state == 'timedOut' %}
        <p>
            Der Bestätigungslink ist nicht mehr gültig :(
        </p>
        {% elif state == 'invalid' %}
        <p>
            Der Bestätigungslink ist nicht gültig :(
        </p>
        {% endif %}
        <p>
            <a href="/" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Startseite
            </a>
        </p>
    </div>
{% endblock %}
