{% extends 'base.html' %}

{% block title %}
    Newsletter Bestätigung
{% endblock %}

{% block content %}
    <div id="newsDeactivationWrapper">
        {% if state == 'success' %}
        <p>
            Du hast dich mit der E-Mail Adresse <a href="mailto:{{g.user['email']}}">{{g.user['email']}}</a> vom Newsletter abgemeldet
        </p>
        <p>
            Versehen? Direkt Rückgänging machen:
            <a href="{{config['blogServerAddress']}}/confirmNews/{{token}}">
                Reabonnieren
            </a>
        </p>
        {% elif state == 'invalid' %}
        <p>
            Der Link ist nicht gültig :(
        </p>
        {% endif %}
        <p>
            <a href="/" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Startseite
            </a>
        </p>
    </div>
{% endblock %}
