{% extends 'base.html' %}

{% block content %}
    <div id="editCategory">
        <textarea id="name" placeholder="Name">{{category['name']}}</textarea>
        <div class="errorText" for="name"></div>
        <div class="flexWrapper">
            <label for="slug">
                Slug:
            </label>
            <input id="slug" placeholder="Slug" value="{{category['slug']}}"/>
        </div>
        <div class="errorText" for="slug"></div>
        <button id="saveButton" onclick="saveCategory()" class="mdl-button mdl-js-button mdl-button--primary">
            speichern
        </button>
        <button id="removeButton" onclick="removeCategory()" class="mdl-button mdl-js-button mdl-button--primary{% if new %} hidden{% endif %}">
            Löschen
        </button>
    </div>
{% endblock %}

{% block jsAndCss %}
    <script>
        categoryId = {{category['id']}};
        articles = {{json.dumps(articles)|safe}};
    </script>
{% endblock %}
