{% extends 'base.html' %}

{% block content %}
    <div id="editArticle">
        <textarea id="h1" placeholder="Überschrift">{{article['headline']}}</textarea>
        <div class="errorText" for="h1"></div>
        <textarea id="h3" placeholder="Unterüberschrift">{{article['subline']}}</textarea>
        <div class="errorText" for="h3"></div>
        <textarea id="text">{{article['textMd']}}</textarea>
        <div class="errorText" for="text"></div>
        <div class="flexWrapper">
            <label for="slug">
                Slug:
            </label>
            <input id="slug" placeholder="Slug" value="{{article['slug']}}"/>
        </div>
        <div class="errorText" for="slug"></div>
        <div class="flexWrapper">
            <label for="author">
                Autor:
            </label>
            <input id="author" placeholder="Autor" value="{{article['author']}}"/>
        </div>
        <div class="errorText" for="author"></div>
        <span class="date">
            <label for="date">
                Erscheinungsdatum:
            </label>
            <input id="date" type="datetime-local" timestamp="{{article['date']}}">
        </span>
        <div class="errorText" for="date"></div>
        <span class="category">
            <label for="category">
                Kategorie:
            </label>
            <select id="category">
                {% for category in categories %}
                    <option value="{{category['id']}}"{% if category['id'] == article['categoryId'] %} selected{% endif %}>
                        {{category['name']}}
                    </option>
                {% endfor %}
            </select>
        </span>
        <div class="errorText" for="category"></div>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="private">
            <input type="checkbox" id="private" class="mdl-checkbox__input" {% if article['private'] %} checked {% endif %}>
            <span class="mdl-checkbox__label">Privat</span>
        </label>
        <div class="errorText" for="private"></div>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="hidden">
            <input type="checkbox" id="hidden" class="mdl-checkbox__input" {% if article['hidden'] %} checked {% endif %}>
            <span class="mdl-checkbox__label">Versteckt</span>
        </label>
        <div class="errorText" for="hidden"></div>
        <div id="editArticle_progressbar" class="mdl-progress mdl-js-progress"></div>
        <button id="saveButton" onclick="saveArticle()" class="mdl-button mdl-js-button mdl-button--primary">
            speichern
        </button>
        <button id="removeButton" onclick="removeArticle()" class="mdl-button mdl-js-button mdl-button--primary{% if new %} hidden{% endif %}">
            Löschen
        </button>
    </div>
{% endblock %}

{% block jsAndCss %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js"></script>
<script src="{{ url_for('static', filename='js/inline-attachment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror-4.inline-attachment.min.js') }}"></script>
<script>
    articleId = {{article['id']}};

    var youtubeEmbetedData = {v: '', list: '', t: ''};

    function YTHelperGuiUpdate(type='url') {
        if (type === 'url') {
            youtubeEmbetedData = {
                v: getParameterByName('v', $('#YTHelperInputUrl').prop('value')),
                t: getParameterByName('t', $('#YTHelperInputUrl').prop('value')),
                list: getParameterByName('list', $('#YTHelperInputUrl').prop('value'))
            };

            var l = document.createElement("a");
            l.href = $('#YTHelperInputUrl').prop('value');

            if (l.host === 'youtu.be' || l.host === 'youtube.com' || l.host === 'www.youtube.com') {
                $('#YTHelperState').addClass('hidden');
            } else {
                $('#YTHelperState').removeClass('hidden');
            }

            if (l.host === 'youtu.be') {
                youtubeEmbetedData['v'] = l.pathname.slice(1);
            }
        } else if (type === 'in') {
            youtubeEmbetedData = {
                v: $('#YTHelperInputV').prop('value'),
                t: $('#YTHelperInputT').prop('value'),
                list: $('#YTHelperInputList').prop('value')
            };
        } else {
            console.error('Unknown input type');

            return;
        }

        $('#YTHelperInputV').prop('value', youtubeEmbetedData['v']);
        $('#YTHelperInputT').prop('value', youtubeEmbetedData['t']);
        $('#YTHelperInputList').prop('value', youtubeEmbetedData['list']);

        $('#YTHelperInputUrl').prop('value', `https://youtu.be/${youtubeEmbetedData['v']}?t=${youtubeEmbetedData['t']}&list=${youtubeEmbetedData['list']}`);

        $('.YTHelperWrapper').addClass('is-dirty');
    }

    var simplemde = new SimpleMDE({
        element: $('#text')[0],
        spellChecker: false,
        previewRender: function(text) {
            return mdRender(text);
        },
        toolbar: ['bold', 'italic', 'strikethrough', 'heading', 'heading-smaller', 'heading-bigger', '|', 'quote', 'unordered-list', 'ordered-list', 'clean-block', 'table', 'horizontal-rule', '|', 'link', 'image',
            {
                name: 'gallery',
                action: function (editor){
                    var posStart = editor.codemirror.getCursor('start');
                    var posEnd = editor.codemirror.getCursor('end');

                    editor.codemirror.setSelection(posEnd, posEnd);
                    editor.codemirror.replaceSelection('</gallery>');

                    editor.codemirror.setSelection(posStart, posStart);
                    editor.codemirror.replaceSelection('<gallery>');

                    posStart.ch += 9;
                    posEnd.ch += 9;
                    editor.codemirror.setSelection(posStart, posEnd);
                },
                className: 'collectionIcon',
                title: 'Gallery',
            }, {
                name: 'youtube',
                className: 'youtubeIcon',
                title: 'youtube',
                action: function (editor) {
                    var html = `
                        <p>
                            Link von Youtube aus der Adresszeile oder dem <b>TEILEN</b> Knopf kopieren und in das Feld Url einfügen.
                        </p>
                        <div class="flexInputContainer">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label YTHelperWrapper">
                                <input class="mdl-textfield__input" type="text" id="YTHelperInputUrl" onchange="YTHelperGuiUpdate('url')">
                                <label class="mdl-textfield__label" for="YTHelperInputUrl">Url</label>
                            </div>
                        </div>
                        <details class="moreHider">
                            <summary>Erweitert</summary>
                            <div class="flexInputContainer">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label YTHelperWrapper">
                                    <input class="mdl-textfield__input" type="text" id="YTHelperInputV" onchange="YTHelperGuiUpdate('in')">
                                    <label class="mdl-textfield__label" for="YTHelperInputV">Video Id</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label YTHelperWrapper">
                                    <input class="mdl-textfield__input" type="text" id="YTHelperInputT" onchange="YTHelperGuiUpdate('in')">
                                    <label class="mdl-textfield__label" for="YTHelperInputT">Zeit (<i>N</i>m<i>N</i>s)</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label YTHelperWrapper">
                                    <input class="mdl-textfield__input" type="text" id="YTHelperInputList" onchange="YTHelperGuiUpdate('in')">
                                    <label class="mdl-textfield__label" for="YTHelperInputList">List Id</label>
                                </div>
                            </div>
                        </details>
                        <span id="YTHelperState" class="hidden">Kein valider Link</span>
                    `;
                    swal({
                        title: 'Youtube Embeted Helfer',
                        html: html,
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Einfügen',
                        cancelButtonText: 'Abbrechen',
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                        onOpen: function() {
                            componentHandler.upgradeDom();
                        }
                    }).then(function () {
                        editor.codemirror.setSelection(editor.codemirror.getCursor('start'), editor.codemirror.getCursor('start'));
                        editor.codemirror.replaceSelection(`<youtube v="${youtubeEmbetedData['v']}" list="${youtubeEmbetedData['list']}" t="${youtubeEmbetedData['t']}"/>`);
                    }, function () {});
                }
            },
            '|', 'preview', 'side-by-side', 'fullscreen', 'guide'
        ],
        placeholder: 'Du kannst Bilder hier hinziehen, dann werden sie hochgeladen und eingefügt.'
    });

    inlineAttachment.editors.codemirror4.attach(simplemde.codemirror, {
        uploadUrl: '/editArticle/' + articleId + '/uploadImg',
        progressText: '![Lade Bild hoch...]()\n',
        urlText: '![Bild]({filename})\n',
        beforeFileUpload: function(x) {
            x.upload.onprogress = function (x) {
                var procent = Math.round(x.loaded / x.total * 100);

                if (procent == 100 || !this.hasOwnProperty('lastValue')) {
                    var newValue = '![Lade Bild hoch...]()\n';
                } else {
                    var newValue = '![Lade Bild hoch... ' + procent + '%]()\n';
                }

                simplemde.codemirror.setValue(simplemde.codemirror.getValue().replace(this.lastValue, newValue));
                this.lastValue = newValue;
            }

            x.onerror = function(XMLHttpRequest, textStatus, errorThrown) {
                simplemde.codemirror.setValue(simplemde.codemirror.getValue().replace('![Lade Bild hoch...]()\n', '![Fehler beim hochladen :( ]()\n'));

                swal('Fehler beim Hochladen',
                     'Während dem Hochladen gab es eine Fehler, dies liegt höchstwahrscheinlich an einer Störung der Verbindung zwischen deinem Gerät und dem Server',
                     'error');
            }

            return true;
        }
    });

    $(window).bind('keydown', function(event) {
        if ((event.ctrlKey || event.metaKey) && String.fromCharCode(event.which).toLowerCase() == 's') {
            event.preventDefault();
            saveArticle();
        }
    });

    window.onbeforeunload = function() {
        return 'Willst du diese Seite wirklich verlassen?\nUngespeicherte Änderungen werden verworfen!';
    }
</script>
{% endblock %}
