{% extends 'base.html' %}

{% import 'macros.html' as macros with context %}

{% block content %}
    {% if article %}
        {{ macros.article(article, link=True) }}
        {% if articles %}
            {{ macros.articleList(articles) }}
            {% if more %}
                <a class="center mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" href='/articles/2'>
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
            {% endif %}
        {% endif %}
    {% else %}
        <h1 class="nothingFound">Keine Artikel gefunden. :-(</h1>
    {% endif %}
{% endblock %}
