{% extends 'base.html' %}

{% import 'macros.html' as macros with context %}

{% macro diff(text1, text2) %}
<pre class="code">
    {%- for line in list(difflib.unified_diff(text1.splitlines(), text2.splitlines(), n=max(len(text1.splitlines()), len(text2.splitlines()))))[2:] -%}
    <div class="{{{'+': 'diff_plus', '-': 'diff_minus', '@': 'diff_special'}.get(line[:1], '')}}">{{line.rstrip('\n')[1:]}}</div>
    {%- endfor -%}
</pre>
{% endmacro %}

{% macro boolStrDe(bool) %}
{%- if bool -%}
Wahr
{%- else -%}
Falsch
{%- endif -%}
{% endmacro %}

{% block title %}
    Logview - {{config['blogName']}}
{% endblock %}

{% block content %}
{% if data %}
<div id="logView">
    {% for line in data %}
        <details>
            <summary>
                <span class="date">
                    Datum:
                    <span>
                        <time timestamp="{{line['date']}}"></time>
                    </span>
                </span>
                <span class="type">
                    Tat:
                    <span>
                        {{{'addImg': 'Bild hinzugefügt',
                            'rmImg': 'Bild entfernt',
                            'editArticle': 'Artikel editiert',
                            'rmArticle': 'Artikel entfernt',
                            'editCategory': 'Kategorie editiert',
                            'rmCategory': 'Kategorie entfernt'}[line['type']]}}
                    </span>
                </span>
                <span>
                    Benutzer:
                    <span>
                        {{line['user']['name']}}
                    </span>
                </span>
            </summary>
            {% if line['type'] == 'addImg' %}
            <div>
                <h1>
                    Name:
                </h1>
                {{diff('', line['data']['name'])}}
            </div>
            {% if line['data']['article']['headline'] %}
            <div>
                <h1>
                    Artikel (Kann falsch/unerreichbar sein):
                </h1>
                <a href="/article/{{line['data']['article']['slug']}}">
                    {{line['data']['article']['headline']}}
                </a>
            </div>
            {% endif %}
            <div>
                <h1>
                    Bild:
                </h1>
                <div class="imgContainer" onclick="toggleImgContainerFullscreen(true, this)">
                    <img alt="Konnte nicht gefunden werden :(" class="lazyload" data-src="/img/{{line['data']['article']['id']}}/{{line['data']['name']}}">
                </div>
            </div>
            {% elif line['type'] == 'rmImg' %}
            <div>
                <h1>
                    Name:
                </h1>
                {{diff(line['data']['name'], '')}}
            </div>
            <div>
                <h1>
                    Artikel (Kann falsch/unerreichbar sein):
                </h1>
                <a href="/article/{{line['data']['article']['slug']}}">
                    {{line['data']['article']['headline']}}
                </a>
            </div>
            {% elif line['type'] == 'editArticle' %}
            {% if line['data']['dataBefore']['headline'] != line['data']['dataAfter']['headline'] %}
            <div>
                <h1>
                    Überschrift:
                </h1>
                {{diff(line['data']['dataBefore']['headline'], line['data']['dataAfter']['headline'])}}
            </div>
            {% endif %}
            {% if line['data']['dataBefore']['subline'] != line['data']['dataAfter']['subline'] %}
            <div>
                <h1>
                    Unterüberschrift:
                </h1>
                {{diff(line['data']['dataBefore']['subline'], line['data']['dataAfter']['subline'])}}
            </div>
            {% endif %}
            {% if line['data']['dataBefore']['textMd'] != line['data']['dataAfter']['textMd'] %}
            <div>
                <h1>
                    Text (Markdown):
                </h1>
                {{diff(line['data']['dataBefore']['textMd'], line['data']['dataAfter']['textMd'])}}
            </div>
            {% endif %}
            {% if line['data']['dataBefore']['slug'] != line['data']['dataAfter']['slug'] %}
            <div>
                <h1>
                    Slug:
                </h1>
                {{diff(line['data']['dataBefore']['slug'], line['data']['dataAfter']['slug'])}}
            </div>
            {% endif %}
            {% if line['data']['dataBefore']['author'] != line['data']['dataAfter']['author'] %}
            <div>
                <h1>
                    Autor:
                </h1>
                {{diff(line['data']['dataBefore']['author'], line['data']['dataAfter']['author'])}}
            </div>
            {% endif %}
            {% if line['data']['dataBefore']['date'] != line['data']['dataAfter']['date'] %}
            <div>
                <h1>
                    Erscheinungsdatum:
                </h1>
                <pre class="code"><div class="diff_special">@ -1 +1 @@</div><div class="diff_minus"><time timestamp="{{line['data']['dataBefore']['date']}}"></time></div><div class="diff_plus"><time timestamp="{{line['data']['dataAfter']['date']}}"></time></div></pre>
            </div>
            {% endif %}
            {% if line['data']['dataBefore']['category']['id'] != line['data']['dataAfter']['category']['id'] %}
            <div>
                <h1>
                    Kategorie:
                </h1>
                {{diff(line['data']['dataBefore']['category']['name'], line['data']['dataAfter']['category']['name'])}}
            </div>
            {% endif %}
            {% if line['data']['dataBefore']['private'] != line['data']['dataAfter']['private'] %}
            <div>
                <h1>
                    Privat
                </h1>
                {{diff(boolStrDe(line['data']['dataBefore']['private']), boolStrDe(line['data']['dataAfter']['private']))}}
            </div>
            {% endif %}
            {% if line['data']['dataBefore']['hidden'] != line['data']['dataAfter']['hidden'] %}
            <div>
                <h1>
                    Versteckt
                </h1>
                {{diff(boolStrDe(line['data']['dataBefore']['hidden']), boolStrDe(line['data']['dataAfter']['hidden']))}}
            </div>
            {% endif %}
            {% elif line['type'] == 'rmArticle' %}
            <div>
                <h1>
                    Überschrift:
                </h1>
                {{diff(line['data']['dataBefore']['headline'], '')}}
            </div>
            <div>
                <h1>
                    Unterüberschrift:
                </h1>
                {{diff(line['data']['dataBefore']['subline'], '')}}
            </div>
            <div>
                <h1>
                    Text (Markdown):
                </h1>
                {{diff(line['data']['dataBefore']['textMd'], '')}}
            </div>
            <div>
                <h1>
                    Slug:
                </h1>
                {{diff(line['data']['dataBefore']['slug'], '')}}
            </div>
            <div>
                <h1>
                    Autor:
                </h1>
                {{diff(line['data']['dataBefore']['author'], '')}}
            </div>
            <div>
                <h1>
                    Erscheinungsdatum:
                </h1>
                <pre class="code"><div class="diff_special">@ -1 +1 @@</div><div class="diff_minus"><time timestamp="{{line['data']['dataBefore']['date']}}"></time></div></pre>
            </div>
            <div>
                <h1>
                    Kategorie:
                </h1>
                {{diff(line['data']['dataBefore']['category']['name'], '')}}
            </div>
            <div>
                <h1>
                    Privat
                </h1>
                {{diff(boolStrDe(line['data']['dataBefore']['private']), '')}}
            </div>
            <div>
                <h1>
                    Versteckt
                </h1>
                {{diff(boolStrDe(line['data']['dataBefore']['hidden']), '')}}
            </div>
            {% elif line['type'] == 'editCategory' %}
            {% if line['data']['dataBefore']['name'] != line['data']['dataAfter']['name'] %}
            <div>
                <h1>
                    Name:
                </h1>
                {{diff(line['data']['dataBefore']['name'], line['data']['dataAfter']['name'])}}
            </div>
            {% endif %}
            {% if line['data']['dataBefore']['slug'] != line['data']['dataAfter']['slug'] %}
            <div>
                <h1>
                    Slug:
                </h1>
                {{diff(line['data']['dataBefore']['slug'], line['data']['dataAfter']['slug'])}}
            </div>
            {% endif %}
            {% elif line['type'] == 'rmCategory' %}
            <div>
                <h1>
                    Name:
                </h1>
                {{diff(line['data']['dataBefore']['name'], '')}}
            </div>
            <div>
                <h1>
                    Slug:
                </h1>
                {{diff(line['data']['dataBefore']['slug'], '')}}
            </div>
            {% endif %}
            <details>
                <summary>
                    Rohe Daten
                </summary>
                <textarea>
                    {{json.dumps(line)|safe}}
                </textarea>
            </details>
        </details>
    {% endfor %}
</div>
{% else %}
    <h1 class="nothingFound">
        Kein Log vorhanden
    </h1>
{% endif %}
{{macros.paginator('logView', page, maxPage)}}
{% endblock %}
