{% macro articleList(articles) -%}
    <div id="articleList">
        {% for article in articles %}
            <a class="mdl-cardWrapper" href="/article/{{article['slug']}}">
                <div class="mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title mdl-card--expand mdl-card--border">
                        {% if article['prevImg'] %}
                        {% if article['lazyPrevImg'] %}
                        <img src="{{article['lazyPrevImg']}}" data-src="{{article['prevImg']}}" class="lazyload">
                        {% else %}
                        <img data-src="{{article['prevImg']}}" class="lazyload">
                        {% endif %}
                        {% endif %}
                        <h1>{{article['headline']}}</h1>
                        <h3>{{article['subline']}}</h3>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="author">Autor: {{article['author']}}</span>
                        <span class="date">Erscheinungsdatum: <time timestamp="{{article['date']}}">{{tstampToReadable(article['date'])}}</time></span>
                        {% if article['category'] %}
                        <span class="category">Kategorie: <a href="/category/{{article['category']['slug']}}">{{article['category']['name']}}</a></span>
                        {% else %}
                        <span class="category">Kategorie: <a href="/articles">{{config['restCategorieName']}}</a></span>
                        {% endif %}
                    </div>
                    <div class="mdl-card__menu">
                        {% if article['hidden'] %}
                            <a href="javascript:void(0)" id="hidden{{article['id']}}" class="icon material-icons specialStatus">content_paste</a>
                        {% endif %}
                        {% if article['private'] %}
                            <a href="javascript:void(0)" id="private{{article['id']}}" class="icon material-icons specialStatus">add</a>
                        {% endif %}
                    </div>
                </div>
            </a>
            <div class="mdl-tooltip mdl-tooltip--large" for="hidden{{article['id']}}">
                Nicht veröffentlicht
            </div>
            <div class="mdl-tooltip mdl-tooltip--large" for="private{{article['id']}}">
                Nur für Wirsbergler sichtbar
            </div>
        {% endfor %}
    </div>
{%- endmacro %}

{% macro article(article, link=False) -%}
    <div id="article">
        {% if article['hidden'] and userRoleMin('blogger') or userRoleMin('publisher') %}
        <a id="editIcon" href="/editArticle/{{article['id']}}" class="editBig mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">create</i>
        </a>
        {% endif %}
        <button id="shareButton" onclick="share()" class="editBig mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored hidden">
            <i class="material-icons">share</i>
        </button>
        {% if article['hidden'] %}
            <div id="hiddenIcon" class="icon material-icons">content_paste</div>
        {% endif %}
        {% if article['private'] %}
            <div id="privateIcon" class="icon material-icons">add</div>
        {% endif %}
        {% if link %}
        <a href="/article/{{article['slug']}}" class="hiddenA" id="articleLink">
            <h1>{{article['headline']}}</h1>
            <h3>{{article['subline']}}</h3>
        </a>
        {% else %}
        <h1>{{article['headline']}}</h1>
        <h3>{{article['subline']}}</h3>
        {% endif %}
        <a href="/m/article/{{article['slug']}}">Lese Ansicht (Mobil)</a>
        <p>{{article['text']|safe}}</p>
        <span class="author">Autor: {{article['author']}}</span>
        <span class="date">Erscheinungsdatum: <time timestamp="{{article['date']}}">{{tstampToReadable(article['date'])}}</time></span>
        {% if article['category'] %}
        <span class="category">Kategorie: <a href="/category/{{article['category']['slug']}}">{{article['category']['name']}}</a></span>
        {% else %}
        <span class="category">Kategorie: <a href="/articles">{{config['restCategorieName']}}</a></span>
        {% endif %}
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
            <a class="a2a_button_copy_link"></a>
            <a class="a2a_button_email"></a>
            <a class="a2a_button_twitter"></a>
            <a class="a2a_button_whatsapp"></a>
            <a class="a2a_button_telegram"></a>
            <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
        </div>
    </div>
    <div class="mdl-tooltip mdl-tooltip--large" for="hiddenIcon">
        Nicht veröffentlicht
    </div>
    <div class="mdl-tooltip mdl-tooltip--large" for="privateIcon">
        Nur für Wirsbergler sichtbar
    </div>
    <div class="mdl-tooltip mdl-tooltip--large" for="editIcon">
        Artikel bearbeiten
    </div>
    <script>
        var a2a_config = a2a_config || {};
        var shareApi = {};
        a2a_config.linkname = shareApi.text = "{{article['headline']}} - {{config['blogName']}}";
        a2a_config.linkurl = shareApi.link = "{{config['blogServerAddress']}}/article/{{article['slug']}}";
        a2a_config.locale = "de";
        a2a_config.num_services = 6;
    </script>
{%- endmacro %}

{% macro paginator(redirectPath, page, maxPage) %}
<div id="paginator">
    {% if page > 1 %}
        <a href="/{{redirectPath}}/{{page - 1}}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">keyboard_arrow_left</i>
        </a>
    {% else %}
        <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" disabled>
            <i class="material-icons">keyboard_arrow_left</i>
        </a>
    {% endif %}
    <div id="pages">
        {% for pageLoop in range(1, maxPage + 1) %}
            {% if pageLoop == page %}
                <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" disabled>
                    <p>{{pageLoop}}</p>
                </a>
            {% else %}
                <a href="/{{redirectPath}}/{{pageLoop}}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                    <p>{{pageLoop}}</p>
                </a>
            {% endif %}
        {% endfor %}
    </div>
    {% if page < maxPage %}
        <a href="/{{redirectPath}}/{{page + 1}}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">keyboard_arrow_right</i>
        </a>
    {% else %}
        <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" disabled>
            <i class="material-icons">keyboard_arrow_right</i>
        </a>
    {% endif %}
</div>
{% endmacro %}
